<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h1>Rechercher un lieu</h1>
        <div class="form-group">
            <input 
            id="searchPlace"
            placeholder="search for location" 
            autocorrect="off" 
            autocapitalize="off" 
            spellcheck="off" 
            type="text" 
            class="form-control"
            >
        </div>
        <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="height:400px;">
            <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>