<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <base href="/">
    <title>MB ANGULAR2</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

    <!-- JS -->
    <!-- load dependencies -->

    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <!-- angular app called by systemjs -->
    <script>
        System.import('app/main').catch(function (err) { console.error(err); });
    </script>

</head>

<body style="padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="text-center">ANG2 <small>By Viko</small></h1>
                </div>
            </div>
        </div>
        <my-app></my-app>
    </div>

</body>

</html>