<div class="row">
    <div class="alert alert-success" id="loginSuccess" [@visibilityChanged]="visible">
        <p class="text-center">Authentification réussie</p>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <h4 class="text-center text-primary">
            Authentification
        </h4>
        <form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)">
            <div class="form-group">
                <label>NOM D'UTILISATEUR</label>
                <input class="form-control" [formControl]="formGroup.controls['name']" placeholder="Utilisateur" />
            </div>
            <div class="form-group">
                <label>MOT DE PASSE</label>
                <input class="form-control" [formControl]="formGroup.controls['password']" placeholder="Mot de passe" type="password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
</div>